<div class="adsense-unit">
	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- post_resoponsive -->
	<ins class="adsbygoogle"
	     style="display:block"
	     data-ad-client="ca-pub-5409725853643014"
	     data-ad-slot="8124177086"
	     data-ad-format="auto"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</div>